<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kreuzzüge</title>
  <link rel="stylesheet" href="/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap" rel="stylesheet">
  <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
  <div id="game-loading">
    <div class="text">Your game is loading. Hold tight!</div>
    <div class="lds-ripple"><div></div><div></div></div>
  </div>
  <div id="game-over"></div>
  <div id="fight">
    <div id="fight-attacker-background" class="unit">
      <img id="fight-attacker-img" src="/imgs/unitThumbs/8_2.png" />
      <span id="fight-attacker-health">05</span>
    </div>
    <div id="fight-defender-background" class="unit">
      <img id="fight-defender-img" src="/imgs/unitThumbs/2_1.png" />
      <span id="fight-defender-health">05</span>
    </div>
  </div>
  <div id="gamebody">
    <section id="canvas-container">
      <canvas id="game-canvas"></canvas>
    </section>
    <aside id="infobar">
      <div style="font-family: Source Code Pro; font-weight: 600;"> <!-- load font! --></div>
      <div id="logo"><img src="/imgs/coverart.png" /></div>
      <div id="turn-info"></div>
      <br>
      <button id="zoom-in"><span class="iconify" data-icon="bxs:zoom-in"></span></button>
      <button id="zoom-out"><span class="iconify" data-icon="bxs:zoom-out"></span></button>
      <button id="toggle-audio" title="Toggle audio on/off."><span class="iconify" data-icon="bxs:volume-mute"></span></button>
      <button id="toggle-fast-mode" title="Toggle watch all moves on/off."><span class="iconify" data-icon="mdi:cctv"></span></button>
      <button id="end-turn">End Turn</button>
      <br>
      <span id="mp-name"></span>
      <br><br>
      <div id="field-info"></div>
      <div id="recruitment"></div>
    </aside>
  </div>
  <script type="module">
    import App from '/js/app.js'
    App('{{gameName}}')
  </script>
</body>
</html>