<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kreuzzuege</title>
</head>
<body>
  <h1 style="margin: 20vh auto 0 auto; font-family: sans-serif;">Importing your map...</h1>
  <script type="module">
    import { stringToMap } from '/static/js/gamedata/mapLoader.js'
    (async function () {
      if (location.hash) {
        if (!window.localStorage.getItem('customMaps')) window.localStorage.setItem('customMaps', '[]')
        const savedMaps = JSON.parse(window.localStorage.getItem('customMaps'))
        const mapString = location.hash.substr(1)
        const thumb = await (await fetch(
          `/rendermapbg?thumbnail=true`,
          {method: 'POST', body: JSON.stringify(await stringToMap(mapString)), headers: {'Content-Type': 'application/json'}}
          )).text()
        savedMaps.push({map: mapString, thumb})
        window.localStorage.setItem('customMaps', JSON.stringify(savedMaps))
      }
      window.location.pathname = '/'
    })()
  </script>
</body>
</html>