<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kreuzzüge</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
</head>
<body style="background: #c5bb9f;">
  <div id="menu-body">
    <div id="logo" style="margin-top: 24px;"><img src="/static/imgs/coverart.png" /></div>
    <div class="card">
      <h1>Saved Games</h1>
      <ul id="save-list">
        
      </ul>
      <div style="text-align: center; padding-top: 16px;">
        <a class="btn disabled" id="load-sp">Singleplayer</a>
        <a class="btn disabled" id="load-lmp">Local Multiplayer</a>
        <a class="btn disabled" id="load-omp">Online Multiplayer</a>
      </div>
    </div>
    <h1>Join Online Multiplayer</h1>
    <form method="GET" action="" id="join-form">
      <input type="text" placeholder="game code" id="game-name-inp" />
      <input type="submit" value="join" />
    </form>
    <div class="card">
      <h1>New Game</h1>
      <div style="text-align: center; padding-bottom: 16px;">
        <a class="btn disabled" id="start-sp">Singleplayer</a>
        <a class="btn disabled" id="start-lmp">Local Multiplayer</a>
        <a class="btn disabled" id="start-omp">Online Multiplayer</a>
      </div>
      <div class="map-pick-grid" id="map-picker">
        <img data-mapnum="1" src="/static/imgs/mapPreviews/map1_preview.png">
        <img  data-mapnum="2" src="/static/imgs/mapPreviews/map2_preview.png">
        <img  data-mapnum="3" src="/static/imgs/mapPreviews/map3_preview.png">
        <img  data-mapnum="4" src="/static/imgs/mapPreviews/map4_preview.png">
        <img  data-mapnum="5" src="/static/imgs/mapPreviews/map5_preview.png">
        <img  data-mapnum="6" src="/static/imgs/mapPreviews/map6_preview.png">
        <img  data-mapnum="7" src="/static/imgs/mapPreviews/map7_preview.png">
        <img  data-mapnum="8" src="/static/imgs/mapPreviews/map8_preview.png">
        <img  data-mapnum="9" src="/static/imgs/mapPreviews/map9_preview.png">
        <img  data-mapnum="10" src="/static/imgs/mapPreviews/map10_preview.png">
        <img  data-mapnum="11" src="/static/imgs/mapPreviews/map11_preview.png">
        <img  data-mapnum="12" src="/static/imgs/mapPreviews/map12_preview.png">
        <img  data-mapnum="13" src="/static/imgs/mapPreviews/map13_preview.png">
        <img  data-mapnum="14" src="/static/imgs/mapPreviews/map14_preview.png">
        <img  data-mapnum="15" src="/static/imgs/mapPreviews/map15_preview.png">
        <img  data-mapnum="16" src="/static/imgs/mapPreviews/map16_preview.png">
        <img  data-mapnum="17" src="/static/imgs/mapPreviews/map17_preview.png">
        <img  data-mapnum="18" src="/static/imgs/mapPreviews/map18_preview.png">
        <img  data-mapnum="19" src="/static/imgs/mapPreviews/map19_preview.png">
        <img  data-mapnum="20" src="/static/imgs/mapPreviews/map20_preview.png">
        <img  data-mapnum="21" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="22" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="23" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="24" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="25" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="26" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="27" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="28" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="29" src="/static/imgs/mapPreviews/no_preview.jpg">
        <img  data-mapnum="30" src="/static/imgs/mapPreviews/no_preview.jpg">
      </div>
    </div>
  </div>
  <script type="module">
    function renderSavesList () {
      if (window.localStorage.saves) {
        const saves = JSON.parse(window.localStorage.saves).filter(save => save.version === 2)
        window.localStorage.saves = JSON.stringify(saves)
        document.getElementById('save-list').innerHTML = saves.reduce((str, save, i) =>
          str + `
          <li>
            <img src="/static/imgs/mapPreviews/map${save.mapNum}_preview.png"><a href="" class="list-link" data-save="${i}"> ${(new Date(save.time)).toLocaleString()}</a>
            <button data-delete="${i}" style="float: right;">
              <span class="iconify-inline" data-icon="fluent:delete-24-filled" style="color: black;"></span>
            </button>
            </li>
          `, '')
        const deleteButtons = document.getElementById('save-list').querySelectorAll('button')
        for (let i = 0; i < deleteButtons.length; i++) {
          deleteButtons[i].addEventListener('click', e => {
            e.stopPropagation()
            e.preventDefault()
            const saves = JSON.parse(window.localStorage.saves).filter(save => save.version === 2)
            saves.splice(parseInt(e.target.dataset.delete), 1)
            window.localStorage.saves = JSON.stringify(saves)
            document.getElementById('load-sp').classList.add('disabled')
            document.getElementById('load-lmp').classList.add('disabled')
            document.getElementById('load-omp').classList.add('disabled')
            renderSavesList()
          })
        }
        const gamelinks = document.getElementById('save-list').querySelectorAll('a')
        for (let i = 0; i < gamelinks.length; i++) {
          gamelinks[i].addEventListener('click', e => {
            e.stopPropagation()
            e.preventDefault()
            const previous = document.getElementById('save-list').querySelector('.selected')
            if (previous) previous.classList.remove('selected')
            e.target.parentElement.classList.add('selected')
            document.getElementById('load-sp').href = `/game#save=${e.target.dataset.save};mode=2`
            document.getElementById('load-lmp').href = `/game#save=${e.target.dataset.save};mode=1`
            document.getElementById('load-omp').href = `/game?mp=1#save=${e.target.dataset.save};mode=3`
            document.getElementById('load-sp').classList.remove('disabled')
            document.getElementById('load-lmp').classList.remove('disabled')
            document.getElementById('load-omp').classList.remove('disabled')
            return false
          })
        }
      }
    }

    renderSavesList()

    document.getElementById('game-name-inp').addEventListener('change', e => {
      document.getElementById('join-form').action = '/game#mode=3;remote=' + e.target.value
    })
    document.getElementById('map-picker').addEventListener('click', e => {
      const previous = document.getElementById('map-picker').querySelector('.selected')
      if (previous) previous.classList.remove('selected')
      e.target.classList.add('selected')
      const mapnum = e.target.dataset.mapnum
      document.getElementById('start-sp').href = `/game#save=-1;map=${mapnum};mode=2`
      document.getElementById('start-lmp').href = `/game#save=-1;map=${mapnum};mode=1`
      document.getElementById('start-omp').href = `/game?mp=1#save=-1;map=${mapnum};mode=3`
      document.getElementById('start-sp').classList.remove('disabled')
      document.getElementById('start-lmp').classList.remove('disabled')
      document.getElementById('start-omp').classList.remove('disabled')
    })
  </script>
</body>
</html>