<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kreuzzüge</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://code.iconify.design/2/2.2.0/iconify.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
</head>
<body>
  <h1 style="text-align: center;">Multiplayer Lobby</h1>
  <h2 style="text-align: center; font-family: monospace;">{{gameName}}</h2>
  <script type="module">
    const gameName = "{{gameName}}"
    console.log(gameName)
  </script>
</body>
</html>