.editor-options > label {
  width: 5rem;
  display: inline-block;
}

#share-link {
  font-family: monospace;
  padding: 12px 0;
  word-break: break-word;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 96px;
    left: 96px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 192px;
    height: 192px;
    opacity: 0;
  }
}
#game-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  text-align: center;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}

#menu-body {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.5rem;
}

.card {
  background-color: #3c3225;
  color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  width: 600px;
  margin: 16px;
}

a {
  text-decoration: none;
  color: white;
}
a:not(.disabled):not([disabled]):hover {
  text-decoration: underline;
}

#save-list {
  list-style: none;
  padding: 0;
}
#save-list li {
  border-bottom: 1px solid grey;
  padding: 6px 0;
  position: relative;
}
#save-list li.selected {
  box-shadow: 0 0 35px white inset;
}
#save-list li img {
  height: 48px;
}
#save-list li a {
  position: absolute;
  padding: 16px 4px;
  left: 150px;
  display: inline-block;
}
#save-list li button {
  margin-top: 10px;
}

.map-pick-grid {
  display: grid;
  column-gap: 16px;
  row-gap: 16px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: center;
  justify-items: center;
}
.map-pick-grid img {
  max-width: 100%;
  border: 2px solid black;
}
.map-pick-grid img.selected {
  border: 2px solid red;
}
.map-pick-grid img:hover {
  box-shadow: 0 0 5px white;
  transform: scale(1.1);
}

#gamebody {
  display: flex;
  flex-direction: row;
}

#canvas-container {
  width: 70%;
  height: 100vh;
  background: #c5bb9f;
}

#game-canvas {
  display: block;
}

#infobar {
  flex-grow: 1;
  background-color: #3c3225;
  padding: 24px;
  box-shadow: 0 0 20px rgba(65, 48, 48, 0.7);
  color: #eee;
}

#logo {
  text-align: center;
  margin-bottom: 48px;
}
#logo img {
  max-width: 70%;
}

@keyframes fight-attacker {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50px);
  }
}
@keyframes fight-attacker-flip {
  from {
    transform: translateX(0) scaleX(-1);
  }
  to {
    transform: translateX(50px) scaleX(-1);
  }
}
@keyframes fight-defender {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50px);
  }
}
@keyframes fight-defender-flip {
  from {
    transform: translateX(0) scaleX(-1);
  }
  to {
    transform: translateX(-50px) scaleX(-1);
  }
}
#fight {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
}
#fight.visible {
  display: flex;
}
#fight.visible .att-flipped {
  transform: scaleX(-1);
  animation: fight-attacker-flip 2.4s !important;
}
#fight.visible #fight-attacker-img {
  animation: fight-attacker 2.4s;
}
#fight.visible .def-flipped {
  transform: scaleX(-1);
  animation: fight-defender-flip 2.4s !important;
}
#fight.visible #fight-defender-img {
  animation: fight-defender 2.4s;
}
#fight .unit {
  position: relative;
  border: 1px solid red;
  max-width: 50vw;
  max-height: 100vh;
  background-repeat: no-repeat;
  background-size: 250%;
  background-position: 20% 50%;
  overflow: hidden;
}
@media (max-width: 900px) {
  #fight .unit {
    background-position: 20% 40%;
  }
}
#fight .unit img {
  max-width: 50vw;
  margin-bottom: -50px;
  margin-top: -50px;
  margin-left: -50px;
  margin-left: -50px;
}
@media (max-width: 900px) {
  #fight .unit img {
    margin-bottom: 0;
  }
}
#fight .unit #fight-attacker-health, #fight .unit #fight-defender-health {
  position: absolute;
  top: 0;
  font-size: 3rem;
  background: white;
  padding: 4px 10px;
  border-radius: 8px;
}
#fight .unit #fight-attacker-health {
  left: 0;
}
#fight .unit #fight-defender-health {
  right: 0;
}

button, .btn, input[type=submit], input[type=button] {
  display: inline-block;
  padding: 6px 12px;
  margin: 4px;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  background: #eee;
  color: black;
  text-decoration: none;
}
button:hover, .btn:hover, input[type=submit]:hover, input[type=button]:hover {
  transform: scale(1.05);
  box-shadow: 0 0 3px rgba(255, 255, 255, 0.4);
}
button[disabled], button.disabled, .btn[disabled], .btn.disabled, input[type=submit][disabled], input[type=submit].disabled, input[type=button][disabled], input[type=button].disabled {
  cursor: default;
  color: grey;
}
button[disabled]:hover, button.disabled:hover, .btn[disabled]:hover, .btn.disabled:hover, input[type=submit][disabled]:hover, input[type=submit].disabled:hover, input[type=button][disabled]:hover, input[type=button].disabled:hover {
  transform: initial;
}

input[type=text], input[type=number] {
  border-radius: 4px;
  border: 1px solid black;
  padding: 6px;
  margin: 4px 0;
  font-size: 1rem;
}

select {
  border-radius: 8px;
  padding: 6px 12px;
  margin: 4px 0;
  font-size: 1rem;
}

#recruitment {
  text-align: center;
}
#recruitment button {
  width: 13rem;
  margin: 4px;
  text-align: left;
}
#recruitment button .pricetag {
  float: right;
}

@media (max-width: 900px) {
  #gamebody {
    flex-direction: column;
  }

  #canvas-container {
    width: 100%;
    height: 80vh;
  }

  #infobar {
    padding: 16px;
  }

  #logo {
    margin-bottom: 24px;
  }
  #logo img {
    max-width: 50%;
  }
}
.info-table {
  font-size: 1.2rem;
  margin: 4px 0;
  display: flex;
  flex-direction: row;
}
.info-table :first-child {
  width: 50%;
}
.info-table :nth-child(2) {
  width: 20%;
}

#field-info {
  font-size: 1.2rem;
}

.center-inside {
  text-align: center;
}

.unit-preview {
  max-height: 25vh;
  max-width: 100%;
}

#game-over {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  font-size: 3rem;
  color: white;
}


/*# sourceMappingURL=style.css.map*/